html, body{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  canvas {
    display: block;
  }

  #defaultCanvas0 {
    margin-left: auto;
    margin-right: auto;
  }

  #score {
    font-size: 25px;
    color: black;
    /* position: absolute;
    top: 20px;
    left:600px; */
  }

  #highestScore{
    font-size: 25px;
    color: red;
  }

  h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem; /* Adjust size as needed */
    color: #FFCC00; /* Change color to something more in line with DBZ */
    text-align: center; /* Center text if desired */
}

  